@model BancoMundial.Models.PessoaJuridica

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PessoaJuridica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazaoSocial" class="control-label"></label>
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscricaoEstadual" class="control-label"></label>
                <input asp-for="InscricaoEstadual" class="form-control" />
                <span asp-validation-for="InscricaoEstadual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAbertura" class="control-label"></label>
                <input asp-for="DataAbertura" class="form-control" id="dataAbertura" />
                <span asp-validation-for="DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faturamento" class="control-label"></label>
                <input asp-for="Faturamento" class="form-control" />
                <span asp-validation-for="Faturamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" readonly />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Socios" class="control-label">Sócios</label>
                <div>
                    @foreach (var socio in ViewBag.Socios as List<BancoMundial.Models.PessoaFisica>)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@socio.Id" name="sociosIds" id="socio_@socio.Id" @(Model.Socios.Any(s => s.Id == socio.Id) ? "checked" : "")>
                            <label class="form-check-label" for="socio_@socio.Id">
                                @socio.Nome @socio.Sobrenome
                            </label>
                        </div>
                    }
                </div>
                <span asp-validation-for="Socios" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("dataAbertura").addEventListener("change", function () {
            var dataAbertura = this.value;
            fetch(`/PessoaJuridicas/CalcularIdade?dataAbertura=${dataAbertura}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("Idade").value = data.idade;
                });
        });
    </script>
}